# --- Visual Studio cache & temp files ---
.vs/
*.user
*.suo
*.ups
*.sln.docstates
*.aps

# --- Build results (Binaries & Object files) ---
# Ignorujemy foldery z plikami binarnymi kompilacji
x64/
Debug/
Release/
bin/
obj/

# --- Poœrednie pliki kompilacji ---
*.ipch
*.iobj
*.ipdb
*.tlog
*.idb
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe

# --- Nasze Automatyczne Wydania (Custom Scripts) ---
# Ignorujemy folder, w którym skrypt tworzy ZIP-y i archiwalne DLL
Releases/
# Ignorujemy foldery tymczasowe tworzone podczas pakowania
tozip/
TempPackage/

# --- Pliki tymczasowe i backupy ---
*.bak
*.log
*.tmp
Thumbs.db
Desktop.ini